#guestbookForm {
  #parent_id {
  }
  #name {
  }
  #neocities {
  }
  #email {
  }
  #avatar_url {
  }
  #mood {
  }
  #comment_content {
  }
  #submitBtn {
  }

  #cancelReplyBtn {
    display: none;
    &.visible {
      display: block;
    }
  }

  #formStatus {
    display: none;
    &.visible {
      display: block;
    }
  }
}

#sortToggleBtn {
}

#commentsContainer {
  --flex-direction: row-reverse;
  display: flex;
  flex-direction: var(--flex-direction);
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: flex-start;
}

.comment-card {
  --max-width: calc(var(--main-width) / 2.15);
  width: fit-content;
  max-width: var(--max-width);

  button {
    background-color: transparent;
    border: none;
  }

  > .comment-wrapper {
    background-color: bisque;
    outline: dashed magenta 1px;

    width: fit-content;

    display: grid;
    grid-template-areas: var(
      --comment-grid-template,
      "AVATAR HEADER" "AVATAR CONTENT" "FOOTER FOOTER"
    );

    > .comment-aside.avatar {
      --avatar-size: 4em;
      display: var(--avatar-display, none);

      grid-area: AVATAR;

      background-image: var(--avatar-url, none);
      background-size: cover;
      background-position: center;

      width: var(--avatar-size);
      height: var(--avatar-size);
    }

    > .comment-header {
      grid-area: HEADER;

      > .comment-hgroup {
        > .name {
        }
        > .mood {
        }
      }

      > .date {
      }
    }

    > .comment-main {
      grid-area: CONTENT;

      > .content {
      }
    }

    > .comment-footer {
      grid-area: FOOTER;

      display: flex;
      flex-flow: row nowrap;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;

      position: relative;

      > .comment-address.neocities {
        --deg-skew: 3deg;
        --deg-rotate: 2deg;

        position: absolute;
        inset-inline-start: -15%;
        inset-block-end: -5%;

        background-color: crimson;

        padding: 2.5%;

        transform: skewX(var(--deg-skew)) rotateZ(var(--deg-rotate));

        .neocities-span-group {
          display: inline-flex;
          flex-flow: row nowrap;
          transform: skewX(calc(var(--deg-skew) * -1))
            rotateZ(calc(var(--neocities-domen-animation) * -1));

          /*animation: neocities-domen 5s infinite ease-in-out;*/

          .comment-favicon {
            display: block;
            transform: skewX(calc(var(--deg-skew) * -1))
              rotateZ(calc(var(--neocities-domen-animation) * -1));
          }
          .neocities-domain-span {
            padding-inline-start: 0.5em;
            transform: skewX(calc(var(--deg-skew) * -1))
              rotateZ(calc(var(--neocities-domen-animation) * -1));
          }
        }
      }

      > .reactions {
        display: flex;
        flex-flow: row wrap;

        .reaction-btn {
          font-size: 24px;
          cursor: pointer;

          width: 2em;
          height: 2em;
          aspect-ratio: 1 / 1;

          display: flex;
          flex-flow: row nowrap;
          align-items: center;

          &.reacted {
          }
          &.syncing {
            pointer-events: none;
          }

          .reaction-img {
            height: 100%;
          }

          .reaction-count {
          }
        }

        .add-reaction-btn {
          cursor: pointer;

          .add-reaction-icon {
          }
        }

        .reactions-picker {
          display: none;
          position: absolute;
          bottom: 100%;

          &.open {
            display: flex;
          }

          .picker-btn {
            cursor: pointer;

            .picker-img {
            }
          }
        }
      }

      > .reply {
        cursor: pointer;
      }
    }
  }

  > .replies-container {
    display: flex;
    flex-direction: var(--flex-direction);

    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

    .reply-card {
      margin-left: calc(var(--indent, 0) * 0px);
    }
  }
}

@property --neocities-domen-animation {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@keyframes neocities-domen {
  from {
    --neocities-domen-animation: 0deg;
  }
  to {
    --neocities-domen-animation: 360deg;
  }
}
