.character-sheet {
  margin-inline: 25%;
  margin-block: 7%;
}

/* DESCRIPTION PLUG-IN */

descr {
  --descr-max-width: 40ch;
  --descr-border-clr: #535353;
  --descr-bg-clr: white;
  --descr-padding: 1ch;
  --descr-padding-inline: calc(var(--descr-padding) * 2);
  display: none;
  position: fixed;
  max-width: var(--descr-max-width);
  /*
  border: 1px solid var(--descr-border-clr);
  */
  background-color: var(--descr-bg-clr);
  background-image: linear-gradient(
    90deg,
    var(--descr-border-clr) var(--descr-padding-inline),
    transparent var(--descr-padding-inline)
  );
  padding: var(--descr-padding);
  padding-inline-start: var(--descr-padding-inline);

  transition: 3s 3s display;

  bottom: 0;
}

*:hover + descr,
descr:hover {
  display: block;
}

#toolbar {
  position: fixed;
  inset-inline-start: 20px;
  inset-block-end: 55px;

  ul {
    display: flex;
    flex-flow: row nowrap;
  }
}

.c-attribute {
  display: flex;
  flex-flow: column wrap;

  & > label {
    display: flex;
    flex-flow: row nowrap;
    color: var(--clr-element-txt, white);

    span {
      font-family: var(--font-h2, "Monotype Corsiva"), serif;
      font-size: 1.5em;
      background-color: var(--clr-element-bg, #2f2f30);
    }

    picture img {
      height: 2rem;
      filter: invert(1);
    }

    input {
      width: 2em;
      text-align: center;

      border: none;
      background: transparent;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
  }
}

.c-skills-container {
}

.point-container {
  --point-size: 16px;
  display: flex;
  flex-flow: row wrap;

  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    cursor: pointer;

    width: var(--point-size);
    height: var(--point-size);
    border: calc(var(--point-size) / 8) solid black;

    &:checked {
      background-color: #2f2f30;
    }

    &:intermediate {
      background-image: linear-gradient(45deg, black 50%, transparent 50%);
    }

    &[disabled] {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS13aWR0aD0iMiI+PHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNNiAxOEwxOCA2TTYgNmwxMiAxMiIvPjwvc3ZnPg==);
      background-size: 100% 100%;
    }
  }
}

/*

.c-skills-container {
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  margin: 0.5rem 0;
}


.c-skills-container legend {
  float: none; 
  width: 130px; 
  text-align: right;
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 1.5rem;
  padding: 0;
}

.c-skills-container input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 35px;
  height: 35px;
  border: 2px solid #111;
  margin-right: 6px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.1s;
}

.c-skills-container input[type="checkbox"]:checked {
  background-color: #111;
}
*/
