.character-sheet {
}

/* DESCRIPTION PLUG-IN */

descr {
  --descr-max-width: 40ch;
  --descr-border-clr: #535353;
  --descr-bg-clr: white;
  --descr-padding: 1ch;
  --descr-padding-inline: calc(var(--descr-padding) * 2);

  position: fixed;
  max-width: var(--descr-max-width);
  /*
  border: 1px solid var(--descr-border-clr);
  */
  background-color: var(--descr-bg-clr);
  background-image: linear-gradient(
    90deg,
    var(--descr-border-clr) var(--descr-padding-inline),
    transparent var(--descr-padding-inline)
  );
  padding: var(--descr-padding);
  padding-inline-start: var(--descr-padding-inline);

  &:not([hidden]) {
    display: none;
  }
}

*:hover + descr,
descr:hover {
  display: block;
}

#toolbar {
  position: fixed;
  inset-inline-start: 20px;
  inset-block-end: 55px;

  ul {
    display: flex;
    flex-flow: row nowrap;
  }
}
