:root {
  --color-bg-primary: white;
  --color-border-primary: hotpink;
}

main {
}

form {
  border-radius: 0;
  border-color: var(--color-border-primary);
}

.color-bg-primary {
  background-color: var(--color-bg-primary);
}
